<nav>
  <div class="nav-wrapper teal">
      <ul class="right hide-on-med-and-down">
          <li><a class="white-text" href="sass.html"><i class="material-icons left white-text">save</i>Link1</a></li>
          <li><a class="white-text" href="badges.html"><i class="material-icons right white-text">home</i>Link2</a></li>
      </ul>
  </div>
</nav><br>

<div class="row container">
  <div class="col s6">
      <h5>Cadastro de Material de Apoio</h5>
  </div>
  <form  materialize class="col s12">
      <div class="row">
          <div class="input-field col s12">
              <i class="material-icons prefix">comment</i>
              <input id="first_name" type="text" class="validate">
              <label for="first_name">Comentário</label>
          </div>
          <div class="input-field col s12">
              <i class="material-icons prefix">description</i>
              <textarea id="textarea2" class="materialize-textarea" data-length="300"></textarea>
              <label for="textarea2">Descrição</label>
          </div>
          <div class="file-field input-field col s6">
              <div class="btn">
                  <span>File</span>
                  <input type="file">
              </div>
              <div class="file-path-wrapper">
                  <input class="file-path validate" type="text" placeholder="Selecione uma imagem como perfil da empresa">
              </div>
          </div>
          <div class="input-field col s6">
              <i class="material-icons prefix">insert_link</i>
              <input id="first_name" type="text" class="validate">
              <label for="first_name">Link externo</label>
          </div>
      </div>
      <div class="right">
          <a href="#" class="waves-effect waves-light btn-large"><i class="material-icons left">add_to_photos</i>Cadastrar</a>
      </div>
  </form>
</div>
<br><br><br><br><br><!-- A retirar -->

<footer class="page-footer teal"><br></footer>