  <nav>
      <div class="nav-wrapper teal">
          <ul class="right hide-on-med-and-down">
              <li><a class="white-text" href="sass.html"><i class="material-icons left white-text">save</i>Registre-se!</a></li>
              <li><a class="white-text" href="badges.html"><i class="material-icons right white-text">home</i>Início</a></li>
          </ul>
      </div>
  </nav><br>

  <div class="row container">
      <div class="col s6">
          <h5>Cadastro de Defesa</h5>
      </div>
      <form materialize class="col s12">
          <div class="row">
            <div class="input-field col s6">
                  <i class="material-icons prefix">comment</i>
                  <input id="nome_fantasia" type="text" class="validate">
                  <label for="nome_fantasia">Comunicado</label>
            </div>
              <div class="input-field col s6">
                  <i class="material-icons prefix">content_paste</i>
                  <input type="text" class="datepicker">
                  <label for="cnpj">CNPJ</label>
              </div>
              <div class="input-field col s6">
                  <i class="material-icons prefix">account_circle</i>
                  <input id="empresario" type="text" class="validate">
                  <label for="empresario">Empresário/Representante</label>
              </div>
              <div class="input-field col s6">
                  <i class="material-icons prefix">phone</i>
                  <input id="telefone" type="tel" class="validate">
                  <label for="empresario">Telefone</label>
              </div>
              <div class="input-field col s6">
                  <i class="material-icons prefix">account_balance</i>
                  <input id="razao_social" type="text" class="validate">
                  <label for="razao_social">Razão Social</label>
              </div>
              <div class="input-field col s6">
                  <i class="material-icons prefix">info</i>
                  <select>
                      <option value="" disabled selected>Escolha uma opção</option>
                      <option value="1">Prestação de Serviços</option>
                      <option value="2">Comércio</option>
                      <option value="3">Indústria</option>
                      <option value="4">Outros</option>
                  </select>
                  <label>Tipo de Empresa</label>
              </div>
              <div class="input-field col s6">
                  <i class="material-icons prefix">mail</i>
                  <input id="email" type="email" class="validate">
                  <label for="email">Email</label>
              </div>
              <div class="input-field col s6">
                  <i class="material-icons prefix">lock_outline</i>
                  <input id="password" type="password" class="validate">
                  <label for="password">Password</label>
              </div>
          </div>

          <div class="col s6">
              <h6>Endereço</h6>
          </div>
          <div class="row">
              <div class="input-field col s12">
                  <i class="material-icons prefix">streetview</i>
                  <input id="rua" type="text" class="validate">
                  <label for="rua">Rua</label>
              </div>
              <div class="input-field col s6">
                  <i class="material-icons prefix">markunread_mailbox</i>
                  <input id="numero" type="text" class="validate">
                  <label for="numero">Número</label>
              </div>
              <div class="input-field col s6">
                  <i class="material-icons prefix">streetview</i>
                  <input id="bairro" type="text" class="validate">
                  <label for="bairro">Bairro</label>
              </div>
              <div class="input-field col s6">
                  <i class="material-icons prefix">mail</i>
                  <input id="cep" type="text" class="validate">
                  <label for="cep">CEP</label>
              </div>
              <div class="input-field col s6">
                  <i class="material-icons prefix">location_city</i>
                  <input id="cidade" type="text" class="validate">
                  <label for="cidade">Cidade</label>
              </div>
              <div class="input-field col s12">
                  <i class="material-icons prefix">description</i>
                  <input id="complemento" type="text" class="validate">
                  <label for="complemento">Complemento</label>
              </div>
          </div>

          <div class="right">
              <a class="waves-effect waves-light btn-large"><i class="material-icons left">add_to_photos</i>Cadastrar</a>
          </div>

      </form>
  </div>

  <footer class="page-footer teal"></footer>
